*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(210, 255, 212);
    margin-bottom: 60px;
    
}


.pokemon-card {
    border: 1px solid #ddd; 
    padding: 10px; 
    border-radius: 10px; 
    text-align: center; 
    width: 200px; 
    height: 250px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: 10px; 
}


.pokemon-card img {
    width: 100px;
    height: 100px;
    object-fit: cover; 
    border-radius: 8px; 
}
.pokemon-card {
    text-decoration: none; 
    color: inherit; 
}

.pokemon-card:hover {
    text-decoration: none; 
}


.name {
    color: rgb(55, 22, 199); 
    font-size: 20px; 
    margin-top: 10px; 
}




@media (max-width: 768px) {
    .pokemon-card {
        width: 150px;
        height: 200px; 
    }

    .pokemon-card img {
        width: 80px; 
        height: 80px; 
    }
}
 /* paginação */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    position: relative; 
    flex-direction: row; 
}

.pagination .page-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

.pagination .page-item.active {
    background-color: rgb(243, 0, 0);
    color: white;
}

.pagination .page-item:hover {
    background-color: rgb(233, 233, 233);
}

.pagination .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .pagination {
        gap: 5px;
        margin-top: 10px;
        flex-direction: row; 
    }

    .pagination .page-item {
        padding: 6px 8px;
        font-size: 12px;
    }

    .pagination .arrow {
        font-size: 12px;
        padding: 6px;
    }
}

@media (max-width: 480px) {
    .pagination {
        flex-direction: column; 
        gap: 3px;
        align-items: center; 
    }

    .pagination .page-item {
        font-size: 10px;
        padding: 5px 7px;
    }

    .pagination .arrow {
        font-size: 10px;
        padding: 5px;
    }
}

